################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ovning3/FileContentIndex/1a278844-3982-4791-8eae-5e3f54cb0379.vsidx
