################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ovning3/FileContentIndex/1a278844-3982-4791-8eae-5e3f54cb0379.vsidx
/.vs/Ovning3/FileContentIndex/a31f6dcb-5bd5-4445-bbc7-a32407ebd505.vsidx
/.vs/Ovning3/FileContentIndex/e5f8b650-97f6-4f8d-97f4-43ed93825928.vsidx
/.vs/Ovning3/FileContentIndex/18d20369-9090-46ff-a239-69dc80764233.vsidx
/.vs/Ovning3/FileContentIndex/62f62376-d20b-4016-9be0-34bf061f024f.vsidx
